[submodule "ext/http-parser"]
	path = ext/http-parser
	url = git://github.com/ry/http-parser.git
[submodule "ext/http-parser.java"]
	path = ext/http-parser.java
	url = git://github.com/a2800276/http-parser.java.git
